{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Note Task</h1>
      <form method="post" action="{% url 'update_note' note.id %}">
        {% csrf_token %}
        <input type="text" name="task" value="{{note.task}}" />
        <input type="submit" value="Edit Task" />
      </form>
      <hr />
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
